.desktop-navbar {
  display: none;
}

@media screen and (min-width: 378px) {
  .desktop-navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 1rem;
    box-shadow: 2px 4px 4px var(--color-shadow);
  }
  .desktop-navbar button {
    background-color: var(--color-button-background);
    border: none;
    border-radius: 4px;
    color: white;
    padding: 0.1rem 0.5rem;
    font-size: var(--font-length-md1);
  }
  .icon-container {
    display: flex;
    gap: 16px;
  }

  .nav-items {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
  }
}
