.products-wrapper ul {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.products-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 4.5rem;
  height: fit-content;
}
.mobile-product-search {
  margin-top: var(--space-3);
}

@media screen and (min-width: 980px) {
  .products-wrapper ul {
    margin-top: var(--space-3);
    flex: 1;
  }
  .products-wrapper {
    flex-direction: row;
    justify-content: flex-start;
  }
  .mobile-product-search {
    align-self: center;
    display: none;
  }
}
