.mobile-navbar {
  z-index: 100;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 8px;
  box-shadow: 2px 4px 4px var(--color-shadow);
  position: fixed;
  width: 100%;
  top: 0;
  background-color: var(--primary-color);
}

.mobile-navbar h2 {
  margin-right: auto;
  margin-left: auto;
  font-variation-settings: "CRSV" 1, "MONO" 1;
}

.icon-container {
  display: flex;
  gap: 16px;
}

@media screen and (min-width: 690px) {
  .sidenav-icon {
    display: none;
  }
  .mobile-navbar {
    justify-content: space-between;
    padding: 0.5rem 1rem;
    display: none;
  }

  .mobile-navbar h2 {
    margin-left: 0;
  }
}
