.product-card-wrapper {
  display: flex;
  flex-direction: column;
  color: var(--primary-color);
  align-items: flex-start;
  gap: 16px;
  width: 300px;
  height: 390px;
  background-color: var(--secondary-color);
  box-shadow: 4px 8px 8px var(--color-shadow);
}
.product-card-wrapper figure {
  width: 100%;
  position: relative;
  z-index: 10;
}
.product-card-wrapper figure img {
  padding: 0;
  height: 204px;
  width: 100%;
}
.product-card-wrapper figure figcaption {
  position: absolute;
  top: 10px;
  right: 10px;
}
.product-card-wrapper * {
  color: var(--primary-color);
}
.product-card-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-1);
  padding: var(--space-1) var(--space-2);
}

/* .product-card-details h6 {
  font-size: var(--font-length-sm1);
} */
.product-rating-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.product-rating-wrapper > p {
  color: var(--color-font-label);
}
.actual-price,
.discounted-price {
  font-size: var(--font-length-md1);
}
.actual-price {
  color: var(--color-font-text);
  text-decoration: line-through;
}
.discounted-price {
  display: inline-block;
  text-decoration: none;
}
.rating-icon {
  margin-left: var(--space-1);
  /* display: inline-block;
  line-height: 0; */
}

.button-group button {
  font-family: inherit;
  font-weight: bold;
  padding: 0.3rem 0.5rem;
  font-size: var(--font-length-sm3);
  border-radius: 4px;
  border: none;
  background-color: var(--color-button-background);
}
.discounted-price {
  margin-left: var(--space-2);
}
@media screen and (width >=690px) {
}
