.homepage-main {
  height: 80vh;
  width: 100%;
  background-image: url(../../assets/hompage-cover-image.avif);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  gap: 16px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.homepage-main > * {
  text-align: center;
}

.homepage-main h1 {
  font-size: var(--font-length-lg1);
}
.homepage-main button {
  background-color: var(--primary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  color: var(--secondary-color);
  font-size: var(--font-length-md2);
  padding: 0.3rem 0.5rem;
}

.homepage-categories h2 {
  font-size: var(--font-length-md3);
  text-align: center;
  margin: 1rem auto;
}
.homepage-categories-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

@media screen and (width >= 690px) {
  .homepage-categories-wrapper {
    margin-top: 1rem;
    justify-content: space-evenly;
    width: 100%;
  }
}
